.navbar{
    height: 5rem;
    width: 100vm;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.menuItem{
    margin: 2rem;
    cursor: pointer;
}

.menuItem:hover{
    padding-bottom: 0.5rem;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to left, #ff9720, #fc0865); 
    border-image-slice: 1; 
}

.menuButton{
    background: white;
    color: black;
    border: none;
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}